doctype html
head
  meta(charset='UTF-8')
  title SUCCESS
style.
  canvas {
  display: none;
  }
  hr {
  margin-top: 32px;
  }
  input[type="file"] {
  display: block;
  margin-bottom: 16px;
  }
  div {
  margin-bottom: 16px;
  }
  #logo {
    width: 60%;
  }
img#logo(src='./images/otp-logo.png')
div
  h1 Success!
  h2 You succesfully !{type.toLowerCase()} !{amount} !{currency} 💸💸💸