.header {
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;

        .title {
            font-weight: 700;
        }
    }

    &__logo {
        width: 150px;
    }
}
