#map {
    // height: 400px;
    // -moz-transform: scale(0.8);
    // -moz-transform-origin: 0 0;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: absolute;
    margin-top: -105px;
}
